html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0 auto;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}

.main-header {
  height: 99px;
  border: 1px solid #232838;
  background-color: #232838;
  box-shadow: 0 10px 6px #232838;
}
.logo {
  margin-top: 19px;
  float: left;
  width: 180px;
  height: 60px;
}
.navigation {
  float: right;
  line-height: 100px;
}
.navigation__item {
  float: left;
  padding-right: 40px;
  position: relative;
}
.navigation__item:nth-child(1)::after,
.navigation__item:nth-child(2)::after,
.navigation__item:nth-child(3)::after,
.navigation__item:nth-child(4)::after,
.navigation__item:nth-child(5)::after,
.navigation__item:nth-child(6)::after {
  position: absolute;
  content: "|";
  color: #fff;
  top: 0px;
  right: 23px;
}
.navigation__item:last-child {
  padding-right: 0px;
  background-image: url(..//img/search.png);
  background-repeat: no-repeat;
  background-position: -1% 50%;
}
.navigation__link {
  padding: 15px 0;
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.navigation__link:hover {
  color: #3dc054;
}
.search-input {
  width: 64px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  background-color: #232838;
  border: 0;
  outline: none;
  padding: 0;
  margin-left: 20px;
}
::placeholder {
  color: white;
  opacity: 1;
}
.navigation-dropdown {
  position: absolute; 
  display: none;
  top: 64px;
  width: 260px;
  min-height: 328px;
  background-color: white;
}
.navigation__item:hover .navigation-dropdown {
  display: block;
}
.navigation-dropdown::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  width: 0; 
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #ffffff;
}
.navigation-dropdown__item {
  color: #14192b;
  font-family: "Titillium Web";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}
.navigation-dropdown__link {
  display: block;
  width: 220px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9eb;
}



.intro {
  text-align: center;
  min-height: 699px;
  color: white;
  border-top: 1px solid #232838;
  background: #232838 url(../img/bg-img.jpg) no-repeat center top;;
}
.intro__title {
  margin-top: 164px;
  margin-bottom: 50px;
  font-family: "Titillium Web";
  font-size: 46px;
  font-weight: 400;
  line-height: 26px;
}
.intro__text {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 42px;
  font-family: "Titillium Web";
  font-size: 26px;
  font-weight: 400;
}
.btn{
  display: inline-block;
  width: 180px;
  margin-bottom: 18px;
  color: white;
  font-family: Montserrat;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #232838;
  background-image: -webkit-linear-gradient(bottom, #fd7a36 0%, #0e5f70 0%, #1fa336 0%, #3dc054 100%);
  background-image: -o-linear-gradient(bottom, #fd7a36 0%, #0e5f70 0%, #1fa336 0%, #3dc054 100%);
  background-image: linear-gradient(to top, #fd7a36 0%, #0e5f70 0%, #1fa336 0%, #3dc054 100%);
  border-radius: 2px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor:pointer;
  opacity: 1;
}



.content {
  min-height: 730px;
}
.news {
  min-height: 730px;
  font-size: 0;
}
.news__title {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 11px;
  color: #232838;
  font-family: "Titillium Web";
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
}
.news__content {
  position: relative;
  display: inline-block;
  height: 280px;
  width: 280px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.news__content:nth-child(4n) {
  margin-right: 0px;
}
.news-content-wrapper{
  position: absolute;
  top: 145px;
  background: url(../img/mask.png);
}
.news-content__title {
  color: #1f7c8f;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 17px 0;
  margin-bottom: 10px;
}
.news-content__text {
  color: black;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 19px;
  padding: 0 20px;
}
.news-content-wrapper:hover{
  top: 0;
  -webkit-transition: top 0.3s ease-out 0.1s;
  -moz-transition: top 0.3s ease-out 0.1s;
  -o-transition: top 0.3s ease-out 0.1s;
  transition: top 0.3s ease-out 0.1s;
}
.btn--news__content{
  margin-left: 20px;
}




.main-footer {
  margin-top: -99px;
}
.footer-contact {
  position: relative;
  min-height: 250px;
  background-color: #1f7c8f;
  border-top: 1px solid #1f7c8f;
}
.footer-contact__title {
  text-align: center;
  margin-top: 29px;
  margin-bottom: 27px;
  color: white;
  font-family: "Titillium Web";
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact-form {
  font-size: 0;
}
.contact-input {
  display: inline-block;
  width: 564px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0 8px;
  background-color: white;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
  border: 0;
}
.contact-input::placeholder {
  color: #b8b8b8;
  opacity: 1;
}
.contact-input:nth-child(2n) {
  margin-right: 0;
}
.btn--footer-contact {
  margin-left: 400px;
}
.footer-contact__text {
  position: absolute;
  width: 370px;
  top: 159px;
  right: 332px;
  color: white;
  font-family: "Titillium Web";
  font-size: 14px;
  font-weight: 400;
}


.footer-bottom {
  min-height: 159px;
  border: 1px solid #0e5f70;
  background-color: #0e5f70;
}
.footer-left {
  float: left;
}
.footer-right {
  float: right;
  width: 581px;
}
.footer-navigation__left {
  margin-right: 94px;
  float: left;
}
.footer-navigation__right {
  float: right;
}
.footer-title {
  margin-bottom: 9px;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-navigation__link {
  color: white;
  font-family: "Titillium Web";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.contact-input-email {
  width: 365px;
  margin-top: 9px;
  margin-right: 20px;
}
.btn--subscribe{
  margin-left: 16px;
  margin-bottom: 24px;
}
.footer__copyright {
  color: white;
  font-family: "Titillium Web";
  font-size: 14px;
  font-weight: 400;
}