html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0 auto;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}

.main-header {
  height: 99px;
  border: 1px solid #232838;
  background-color: #232838;
  box-shadow: 0 10px 6px #232838;
}
.navigation-dropdown {
  display: none;
}
.logo {
  margin-top: 19px;
  float: left;
  width: 180px;
  height: 60px;
}
.navigation {
  float: right;
  line-height: 100px;
}
.navigation__item {
  float: left;
  padding-right: 40px;
  position: relative;
}
.navigation__item:nth-child(1)::after,
.navigation__item:nth-child(2)::after,
.navigation__item:nth-child(3)::after,
.navigation__item:nth-child(4)::after,
.navigation__item:nth-child(5)::after,
.navigation__item:nth-child(6)::after {
  position: absolute;
  content: "|";
  color: #fff;
  top: 0px;
  right: 23px;
}
.navigation__item:last-child {
  padding-right: 0px;
  background-image: url(..//img/search.png);
  background-repeat: no-repeat;
  background-position: -1% 50%;
}
.navigation__link {
  padding: 15px 0;
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.search-input {
  width: 64px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  background-color: #232838;
  border: 0;
  outline: none;
  padding: 0;
  margin-left: 20px;
}

::placeholder {
  color: white;
  opacity: 1;
}
